body {
    font: normal 16px Arial, Verdana, Serif;
    text-align: left;
}

h1 {
    text-align: center;
}

h2 {
    text-align: right;
}

p {
    text-align: justify;
    text-indent: 30px;          /*a tag "text-indent" serve para colocar um pequeno espaço antes da frase começar como se fosse uma redação */
    
}